# Set Creation

In [6]:
my_set = {2.0, "hello", (1,2,3), 2.0 }
print(my_set)

{'hello', 2.0, (1, 2, 3)}

# Empty Sets or Dictionary

In [13]:
my_set = {}
print(type(my_set))

<class 'dict'>

In [10]:
my_set = ()
print(type(my_set))

<class 'tuple'>

In [12]:
my_set = set()
print(type(my_set))

<class 'set'>

In [14]:
set_courses = {"Machine Learning", "Computer Vision", "Deep Learning"}
print(set_courses)

{'Machine Learning', 'Deep Learning', 'Computer Vision'}

# Sets Adding Updating

In [18]:
set_courses = {"Machine Learning", "Computer Vision", "Deep Learning"}
print(set_courses)
set_courses.add("AWS")
print(set_courses)

{'Machine Learning', 'Deep Learning', 'Computer Vision'}
{'Machine Learning', 'Deep Learning', 'AWS', 'Computer Vision'}

In [21]:
set_courses = {"Machine Learning", "Computer Vision", "Deep Learning"}
print(set_courses)
set_courses.add("AWS")
print(set_courses)
set_courses.update(["MATLAB","AZURE","Cloud Computing"])
print(set_courses)

{'Machine Learning', 'Deep Learning', 'Computer Vision'}
{'Machine Learning', 'Deep Learning', 'AWS', 'Computer Vision'}
{'Deep Learning', 'Machine Learning', 'AZURE', 'Cloud Computing', 'AWS', 'MATLAB', 'Computer Vision'}

# Removing Deleting Elements of the Sets

In [23]:
set_courses = {"Machine Learning", "Computer Vision", "Deep Learning"}
print(set_courses)
set_courses.add("AWS")
print(set_courses)
set_courses.update(["MATLAB","AZURE","Cloud Computing"])
print(set_courses)
set_courses.discard("Machine Learning") # (Using discard function)
print(set_courses)

{'Machine Learning', 'Deep Learning', 'Computer Vision'}
{'Machine Learning', 'Deep Learning', 'AWS', 'Computer Vision'}
{'Deep Learning', 'Machine Learning', 'AZURE', 'Cloud Computing', 'AWS', 'MATLAB', 'Computer Vision'}
{'Deep Learning', 'AZURE', 'Cloud Computing', 'AWS', 'MATLAB', 'Computer Vision'}

In [24]:
set_courses = {"Machine Learning", "Computer Vision", "Deep Learning"}
print(set_courses)
set_courses.add("AWS")
print(set_courses)
set_courses.update(["MATLAB","AZURE","Cloud Computing"])
print(set_courses)
set_courses.discard("Embedded Systems") # (Using not present in set)
print(set_courses)

{'Machine Learning', 'Deep Learning', 'Computer Vision'}
{'Machine Learning', 'Deep Learning', 'AWS', 'Computer Vision'}
{'Deep Learning', 'Machine Learning', 'AZURE', 'Cloud Computing', 'AWS', 'MATLAB', 'Computer Vision'}
{'Deep Learning', 'Machine Learning', 'AZURE', 'Cloud Computing', 'AWS', 'MATLAB', 'Computer Vision'}

In [25]:
set_courses = {"Machine Learning", "Computer Vision", "Deep Learning"}
print(set_courses)
set_courses.add("AWS")
print(set_courses)
set_courses.update(["MATLAB","AZURE","Cloud Computing"])
print(set_courses)
X = set_courses.pop() # (Using Pop function)
print(X)

{'Machine Learning', 'Deep Learning', 'Computer Vision'}
{'Machine Learning', 'Deep Learning', 'AWS', 'Computer Vision'}
{'Deep Learning', 'Machine Learning', 'AZURE', 'Cloud Computing', 'AWS', 'MATLAB', 'Computer Vision'}
Deep Learning

In [26]:
set_courses = {"Machine Learning", "Computer Vision", "Deep Learning"}
print(set_courses)
set_courses.add("AWS")
print(set_courses)
set_courses.update(["MATLAB","AZURE","Cloud Computing"])
print(set_courses)
set_courses.clear() # (Using clear function)
print(set_courses)

{'Machine Learning', 'Deep Learning', 'Computer Vision'}
{'Machine Learning', 'Deep Learning', 'AWS', 'Computer Vision'}
{'Deep Learning', 'Machine Learning', 'AZURE', 'Cloud Computing', 'AWS', 'MATLAB', 'Computer Vision'}
set()

# Set Operation

Union

In [28]:
set1 = {10,20,30,40}
set2 = {30,40,50,60}
print(set1|set2)

{40, 10, 50, 20, 60, 30}

Intersection

In [31]:
set1 = {10,20,30,40}
set2 = {30,40,50,60}
print(set1 & set2)

{40, 30}

Difference

In [32]:
set1 = {10,20,30,40}
set2 = {30,40,50,60}
print(set1-set2)

{10, 20}

Symmetric Difference

In [33]:
set1 = {10,20,30,40}
set2 = {30,40,50,60}
print(set1^set2)

{10, 50, 20, 60}

In [46]:
set1= {1,2,3,4,5}
print(1 in set1)

True

In [47]:
set1= {1,2,3,4,5}
print(1 not in set1)

False

In [49]:
set1= {10,20,30,40,50}
for s in set1:
    print( set1)

{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}

In [50]:
set1= {10,20,30,40,50}
for s in set1:
    print(s)

40
10
50
20
30

In [51]:
set1= {10,20,30,40,50}
for s in set1:
    print( set1)
    print(len(set1))

{40, 10, 50, 20, 30}
5
{40, 10, 50, 20, 30}
5
{40, 10, 50, 20, 30}
5
{40, 10, 50, 20, 30}
5
{40, 10, 50, 20, 30}
5

In [52]:
set1=((1,2,3,4))
print(set1)

(1, 2, 3, 4)

In [54]:
set1=([1,2,3,4])
print(set1)

[1, 2, 3, 4]

In [56]:
nums = set([1,1,2,2,3,3,4,4])
print(len(nums))

4

In [57]:
a={5,6,7,8}
print(a)

{8, 5, 6, 7}

In [58]:
a={5,6,7,8}
print(len(a))

4

In [59]:
a={5,6,7,8}
print(min(a))

5

In [60]:
a={5,6,7,8}
a.remove(5)
print(a)

{8, 6, 7}

In [64]:
a={4,5,6}
b={2,8,6}
print(a-b)

{4, 5}

In [65]:
a={5,6,7,8}
b={7,8,10,11}
print(a^b)

{5, 6, 10, 11}

In [69]:
a = {3,4,5}
b = {5,6,7}
a|b

{3, 4, 5, 6, 7}